In [28]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import os
from selenium import webdriver

In [29]:
# Import Splinter and set the chromedriver path
from splinter import Browser
executable_path = {"executable_path": "C:/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [30]:
# Visit the Mars - Nasa URL
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [31]:
# Scrape the browser into soup and use soup to find the latest news title and paragraph text
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [32]:
# find headlines and articles inside item, inside slide elements
element = soup.select_one("ul.item_list li.slide")
headline = element.find("div",class_="content_title").get_text()
article = element.find("div", class_="article_teaser_body").get_text()
print(f'Latest headline: {headline}\nArticle: {article}')

Latest headline: Testing Proves Its Worth With Successful Mars Parachute Deployment
Article: The giant canopy that helped land Perseverance on Mars was tested here on Earth at NASA’s Wallops Flight Facility in Virginia.

In [ ]:
browser.quit()

In [41]:
# Set the chromedriver path and visit the JPL URL
# executable_path = {"executable_path": "C:/chromedriver"}
# browser = Browser("chrome", **executable_path, headless=False)
# url ="https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html" - this url does not appear to be responsive.
# url = "https://www.jpl.nasa.gov/images?search=&category=featured#submit"
# browser.visit(url)

In [42]:
# Find full image url for the current Featured Mars Image
#xpath = '//img[@class="]/@src

In [43]:
#results = browser.find_by_xpath(xpath)
#img = results[0]
#img.click()

In [ ]:
#html = browser.html
#soup = BeautifulSoup(html, 'html.parser')
#img_url = soup.find("img", class_="jpg")["src"]
#img_url

In [44]:
#Use pandas to scrape the table containing facts about Mars
url = 'https://space-facts.com/mars/'

In [57]:
tables = pd.read_html(url)
table = tables[2]
table.columns = ['description', 'fact']
table

            description                           fact
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [61]:
html_table = table.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>description</th>\n      <th>fact</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

AttributeError: 'DataFrame' object has no attribute 'html'